body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.menu {
  background: #fff;
  padding: 9px 20px;
}

.menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #000;
  font-size: 23px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}